.box {
    background-color: rgb(229,229,229);
    border: 1px solid rgb(209,209,209);
    @include text-shadow(rgb(249,249,249) 0 1px 0);
    padding: 35px 24px 27px 24px;
    @include border-radius(11px);
}

// glyphicons

.halflings-user, // team-block-2, team-block-3
.halflings-star // menu-block--2.php => Forschungsgebiete
{
    line-height: 40px;
    line-height: 2.5rem !important;
}


#block-block-3, // Address
#block-views-team-block-2,  // Wissenschaftliche Mitarbeiter
#block-views-team-block-3,  // Assistenz
#block-views-publikationen-block-1, // Publikationen
#block-menu-block-2, // Menü Forschung
#block-menu-block-3, // Menü Vorträge und Papers
#block-views-news-block-block // News Menu 
{
    @extend .box;
    h2 {
        @include hyphenation;
        span {        
            margin-right: 8px;
            margin-right: .5rem;
        }    
    }
    p {
        margin-top: 0;
    }
    li.collapsed {
        height: 32px;
        height: 2rem;
    }
    a.active {
        color: $header-color;
        span.glyphicon {
            color: $header-color !important;
        }
    }
}

#block-views-publikationen-block-1,
#block-menu-block-2,
#block-menu-block-3,
#block-views-team-block-2,
#block-views-team-block-3,
#block-views-news-block-block // News Menu 
{
    ul {
        @include no-bullets; // removing standard bullet list
        padding-left: 0;
        li {
            // background-image: image-url('glyphicons-199-ok.png');
            // background-size: 13px 13px;
            // background-position: center left;
            // background-repeat: no-repeat;
            // padding-left: 24px;
            // padding-left: 1.5rem;
            // color: $gray;
        }
    }
}

.sidebar {
    #block-views-publikationen-block-1 .view,
    #block-menu-block-2 ul.menu li a, // Menu Forschung in sidebar
    #block-menu-block-3 ul.menu li a, // Menu Vorträge und Papers
    #block-views-news-block-block .view, // News Menu
    .view-team {
        span.glyphicon {
                color: $gray;
                padding-right: 16px;
                padding-right: 1rem;
                font-size: 14px;
                font-size: .875rem;
                &:hover {
                    color: $header-color;
                }
        }
    }
}

// Adjust line height

.sidebar {
    .view-team .views-field, // Team 
    .view-publikationen ul li, // Publikationen
    #block-menu-block-2 ul.menu li, // Forschung Menu
    #block-menu-block-3 ul.menu li,
    #block-views-news-block-block // News Menu
    {
    line-height: 32px;
    }
}

// Menu Forschung Submenus

#block-menu-block-2 ul.menu li.expanded {
    ul.menu {
        padding-bottom: 24px;
        padding-bottom: 1.5rem;
        li {
            padding-left: 28px;
            padding-left: 1.75rem;
            &.is-active-trail a.active {
                color: $header-color;
            }
        }
    }
}

// Sets the sub menu item active when an article of the 3rd order is shown

#block-menu-block-2 ul.menu>li.is-expanded>ul.menu>li.active-trail>a {
    color: $header-color !important;
}