/* CSS code for default stylings
** apply generally for all pages
** added by criscom
*/

body {
    @extend %base-font-size;
    @extend %base-font-weight;
    color: $gray;
    background: $gray-light;
}

.main h1{
    text-transform: uppercase;
}

iframe {
    width: 100%;
    max-width: 100%;
}

h1,h2,h3 {
    color: $black;
    @include text-shadow(rgba(255, 255, 255, 0.6), 0 1px 0);
}

// If there is a left sidebar adjust the headers with the title of the box
.main-content h1, // front, publikationen
.view-mode-full .field-name-title-field h1
 { 
    margin-top: 33px;
    margin-top: 2.0625rem;
}

.view-mode-full .field-name-title h2 { // front
    margin-top: 36px;
    margin-top: 2.25rem;
}

ul.download-file
    {
        clear: left;

        margin-top: 0;
        padding-left: 0;

        @include no-bullets;
        span.glyphicon
        {
            padding-right: 6px;
            padding-right: .375rem;
        }
    }
span.logo-1,
span.logo-2 {
    img {
    }
}