/* CSS code for the fonts integration
** added by criscom
** this file contains general font declarations that apply to fonts across the site
1. 

*/

// All paragraphs with the 'p' tag
// UBUNTU LIGHT 18PT
// Font weight: 300;
[role='main']
{
    p,
    ul li,
    div
    {
        @extend %base-font-size;
        @extend %base-font-weight;
        color: $gray;
        @include text-shadow(rgba(255, 255, 255, 0.6), 0 1px 0);
    }
}

div.download-file a
{
    @extend .inline-link;
    @extend %base-font-size;
}

// all inline links within a div tag

.inline-link
{
    @include link-colors($normal: $header-color, $hover: $header-color, $visited: lighten($header-color, 10%));
    text-decoration: underline;
    @extend %base-font-weight;
}

.block-link {
    @include link-colors($normal: $black, $hover: $header-color, $visited: lighten($black, 10%));
    text-decoration: underline;
    @extend %base-font-weight;
}

h3 a,
div p a,
.wohnungsdetails-link a,
li a,
.link a,
.more-link a,
.field-slideshow-caption-text a,
.node a,
span a
{
    @extend .inline-link;
    &:hover {
        text-decoration: none;
        span.glyphicon {
            color: $header-color !important;
        }
    }
}

.sidebar {
    li a,
    span a {
        @extend .block-link;
        &:hover {
            text-decoration: none;
        }
    }
}

// header font weight

h1 {
    @extend %base-font-weight;
}

// hover color for link-less headers and titles

.page-panels h1, // general header of panels page
.panel-display .panle-panel h2, // header of a panel
h1.object-title, // wohnung content type
.page-title, // wohnung content list-style-type
.node-wohnung .group-top h2, // wohnung content type
.header-hover // general declaration
{
    &:hover {
        color: $brand-primary;
    }
}
