/* CSS code for panel page two cols two rows
** PANEL page
** Two column criscom
** added by criscom
** /front
**
*/

.view-frontpage-news {
    .views-row {
        clear: both;
        @extend %divider-node;
    }
    .field-name-title {
        h2 {
            margin: 0 0 12px 0;
            margin: 0 0 .75rem 0;
        }
    }
    .field-name-field-image {
        @include image-float;
    }
    .fa-angle-right {
        color: $header-color;
        margin-left: 8px;
        margin-left: .5rem;
    }
}