/* CSS code for the language switcher
** added by criscom
** on all pages
*/

//

@include breakpoint($desktop){
    .region-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}


// language links inline
.language-switcher-locale-url {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    padding-left: 0;
    margin: 4px 0 0;
}
.locale-untranslated {
    color: $gray;
}

ul.language-switcher-locale-url
{
    @include no-bullets;
    li
    {
        // display: inline;
        &.first:after
        {
            content: ' | ';
        }
        &.last {
            padding-left: 4px;
        }
        a
        {
            text-decoration: none;
            @extend %base-font-size;
            @extend %medium-font-weight;
            @include link-colors($normal: $black, $hover: $header-color !important);
        }
        a.active {
            @include link-colors($normal: $header-color !important);
        }
    }
}

.block-locale
{
    @include breakpoint($max768)
    {
        position: relative;

        ul.language-switcher-locale-url
        {
            position: absolute;
            top: 16px;
            right: 0;

            // extend .box
            background-color: rgb(229,229,229);
            border: 1px solid rgb(209,209,209);
            @include text-shadow(rgb(249,249,249) 0 1px 0);
            padding: 12px 12px 12px 12px;
            @include border-radius(11px);
        }
    }
}
