/* CSS code for team detail page
** added by criscom
** /panel-two-two
*/



.node-article
{
    &.view-mode-full .field-name-post-date {
        margin-top: 10px;
    }
    h2 {
        margin: 0 0 12px 0 !important;
        margin: 0 0 .75rem 0 !important; 
    }
    p:nth-child(1) {
        margin-top: 0;
    }

    .field-name-field-image
    {
        @include image-float;
    }
}